:root {
    --button-color: #C8004C;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --text-color: #F2EBE9;
    --branding-color: #F94892;
}

body {
    background-color: #EEEEEE;
}

h1 {
    color: #F94892;
    font-size: 96px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: normal;
}

.invitation {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    padding: 140px 20px;
    background: #F9F9F9;
}

.beginning {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

h2 {
    color: #E60965;
    font-size: 46px;
}

h3 {
    color: #A267AC;
    font-size: 38px;
    font-weight: 600;
}

.invitation {
    text-align: center;
}

.btn-warning {
    border-radius: 4px;
    border: #FF7F3F;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    box-shadow: var(--box-shadow);
    background: var(--button-color);
    color: var(--text-color);
}

.btn-warning:hover {
    background: #FF7F3F;
    color: #353332;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
a {
    text-decoration: none;
    color: #E60965;
}

a:hover {
    text-decoration: none;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #A267AC;
    box-shadow: #A267AC;
    color: white;
}

.project-desciption {
    padding: 120px 60px;
    padding: 0;
    text-align: center;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }

    .invitation {
        padding: 80px 20px;
    }

    .project-desciption {
        padding: 0;
        text-align: center;
    }
}