:root {
    --button-color: #FF7F3F;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
    background-color: #EEEEEE;
}

h1 {
    color: #F94892;
    font-size: 96px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: normal;
    
}

.invitation {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 36px;
}

h2 {
    color: #E60965;
    font-size: 46px;
}

h3 {
    color: #A267AC;
    font-size: 38px;
}

.invitation {
    text-align: center;
}

button {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
}

.left-button {
    border: #EA5C2B;
    box-shadow: var(--box-shadow);
    background: var(--button-color);
}


.right-button {
    color: var(--button-color);
    border: 1px solid var(--button-color);
}

a {
    text-decoration: none;
    color: #E60965;
}

a:hover {
    text-decoration: none;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #A267AC;
    box-shadow: #A267AC;
    color: white;
}