:root {
    --paragraph-color: #F0D9FF;
}

body {
    background-color: #EEEEEE;
    margin: 60px auto;
    max-width: 85%;
}

h1 {
    color: #F94892;
    font-size: 96px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: normal;
    
}

h2 {
    color: #E60965;
    font-size: 46px;
}

h3{
    color: #A267AC;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

p {
    background: var(--paragraph-color);
    color: #D82148;
    font-family: 'Kalam';
    font-weight: 400;
    text-align: justify;
}

.email:hover {
    color: #EB1D36;
    text-decoration: underline;
}

.back-link:hover {
    text-decoration: underline;
    color: #F94C66;
}
