:root {
    --paragraph-color: #F0D9FF;
}

body {
    background-color: #EEEEEE;
    margin: 60px auto;
    max-width: 85%;
}

h1 {
    color: #F94892;
    font-size: 76px;
    
}

h2 {
    color: #E60965;
    font-size: 46px;
}

h3{
    color: #A267AC;
    font-size: 36px;
}

a {
    text-decoration: none;
}

p {
    background: var(--paragraph-color);
    color: #D82148;
    font-family: 'Kalam';
    font-weight: 400;
    text-align: justify;
}

.email:hover {
    color: #EB1D36;
    text-decoration: underline;
}

.back-link:hover {
    text-decoration: underline;
    color: #F94C66;
}

.hide {
    display: none;
}

.icon-hover:hover+.hide {
    display: block;
    font-size: xx-small;
}