:root {
    --button-color: #C8004C;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --text-color: #F2EBE9;
    --branding-color: #F94892;
    --paragraph-color: #F0D9FF;
}

body {
    background-color: #EEEEEE;
}

h1 {
    color: #F94892;
    font-size: 96px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-style: normal;
}

.invitation {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    padding: 140px 20px;
    background: #F9F9F9;
}

.beginning {
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

h2 {
    color: #E60965;
    font-size: 46px;
}

h3 {
    color: #A267AC;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
}

.invitation {
    text-align: center;
}

.btn-warning {
    border-radius: 4px;
    border: #E60965;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    box-shadow: var(--box-shadow);
    background: var(--button-color);
    color: var(--text-color);
}

.btn-warning:hover {
    background: #B2A4FF;
    color: #262047;
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline:hover {
    color: #554994;
    background-color: #F0DFF7;
}

a {
    text-decoration: none;
    color: #E60965;
}

a:hover {
    text-decoration: none;
}

.primary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: #A267AC;
    box-shadow: #A267AC;
    color: white;
}

.project-desciption {
    padding: 120px 60px;
    padding: 0;
    text-align: center;
}

.my-information {
    background: var(--paragraph-color);
    color: #D82148;
    font-family: 'Kalam';
    font-weight: 400;
    text-align: justify;
}

.email:hover {
    color: #EB1D36;
    text-decoration: underline;
}

.back-link:hover {
    text-decoration: underline;
    color: #F94C66;
}

.content {
    text-align: center;
    padding: 0;
}

.project-desciption {
    padding: 120px 60px;
}

footer .social-links a {
    margin: 0 20px;
    background: var(--paragraph-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    background: #C689C6;
}

.fa-github {
    color: #333;
}

.fa-square-instagram {
    color: #e1306c;
}

.fa-telegram {
    color: #0088cc;
}

.fa-slack {
   color: #e9a820
}

.fa-linkedin {
    color: #0077b5;
}


@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }

    h2 {
        font-size: 44px;
    }

   .invitation {
       padding: 80px 20px;
   }


    .project-desciption {
        padding: 0;
        text-align: center;
    }
}